<div class="sidenav-header">
    <img [width]="profilePicSize()" [height]="profilePicSize()" [src]="getProfileImage()" alt="Photo de profil"/>
    <div class="header-text" [class.hide-header-text]="sideNavCollapsed()">
      <h2>{{ username }}</h2>
      <h4>{{ email }}</h4>
      <h4 *ngIf="roles.includes('ROLE_ADMIN')">Your Role : ADMIN</h4>
    </div>
  </div>
  <mat-nav-list>
    <!-- Divider -->
    <mat-divider></mat-divider>
  
    <!-- Pages Section -->
    <mat-nav-list class="nav-list">
      <a mat-list-item *ngFor="let item of menuItems" 
         [routerLink]="item.route"
         routerLinkActive="selected-menu-item"
         #rla="routerLinkActive" 
         [activated]="rla.isActive">
        <mat-icon class="custom-icon" matListItemIcon>{{item.icon}}</mat-icon>
        <span class="custom-label" matListItemTitle>{{item.label}}</span>
      </a>
    </mat-nav-list>
    
  