
<div id="content">
  <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/layout_img/g1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/layout_img/g10.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/layout_img/g12.jpg" class="d-block w-100" alt="...">
      </div>
      <!-- Add new carousel-items here -->
      <div class="carousel-item">
        <img src="assets/images/layout_img/team1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/layout_img/team2.jpg" class="d-block w-100" alt="...">
      </div>
      <!-- ... -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="content">
<section class="section-services">
<h2 class="head-name" id="services">Our Teams</h2>
<mat-divider></mat-divider>
</section>
</div>

<div class="container">
  <div class="panel post">
    <a href="javascript:void();"><span>8 </span>Posts</a>
  </div>
  <div class="panel users">
    <a href="javascript:void();"><span>{{ teamCount }}</span> Teams</a>
  </div> 
  <div class="panel page">
    <a href="javascript:void();"><span>5 </span>Pages</a>
  </div>
  <div class="panel user">
    <a href="javascript:void();"><span>{{ employeeCount }}</span> Employees</a>
  </div> 
</div>
<mat-divider></mat-divider>
<app-teams></app-teams>
<mat-divider></mat-divider>

  <!-- START PRELOADER -->
  <div class="wrapper">
    <!-- Background Image Section -->
    <div class="background-section">
      <div class="overlay"></div>
      <div class="content">
        <h1 class="welcome">Find out More About Us !</h1>
        <div class="typing-effect">
        <p class="top-ph">
          Actia Tools and Support activity <br>
          <a href="https://lab-engineering.actia.tn/en/home/" class="btn">Find out more</a>
        </p>
      </div>
      </div>
    </div>
    <section class="section-services">
      <div class="content">
        <h2 class="head-name" id="services">Our Values</h2>
        <!-- Other service-related content goes here -->
      </div>
    </section>
  
        <div class="wraper-block">
          <div class="wraper-icon-block">
            <div class="far fa-lightbulb"></div>
            <h3>
              INNOVATION</h3>

          </div>
  
          <div class="wraper-icon-block">
            <i aria-hidden="true" class="fas fa-eye"></i>
            <h3>INDEPENDENCE</h3>

          </div>
  
          <div class="wraper-icon-block">
            <div  class="fas fa-check"></div>
            <h3>QUALITY</h3>
            
          </div>

          <div class="wraper-icon-block">
            <div class="fas fa-hand-pointer"></div>
            <h3>REACTIVITY</h3>
            
          </div>
        </div>
        </div>
  
      <div class="wraper-portfolio">
        <div class="portfolio">
          <h2 class="head-name" id="portfolio"> Our activities...</h2>
        </div>
        <div class="port-top">
  
          <div class="wraper-top">
            <a href="https://lab-engineering.actia.tn/en/solutions-en/mechanical-combined-test/">
              <div class="top-image lef-top"></div>
            </a>
            <div class="wraper-port-text">
              <h3>Mechanical & Combined</h3>
              <p>#VIBRATION #ENDURANCE #COMBINE #CABLE</p>
            </div>
          </div>
  
          <div class="wraper-top">
            <a href="https://lab-engineering.actia.tn/en/solutions-en/micro-section-test/">
            <div class="top-image middle-top"></div>
            </a>
            <div class="wraper-port-text">
              <h3>Micro-section</h3>
              <p>#PCB #PCBA</p>
            </div>
          </div>
  
          <div class="wraper-top">
            <a href="https://lab-engineering.actia.tn/en/solutions-en/corrosion-chemical-testing/">
            <div class="top-image right-top"></div>
            </a>
            <div class="wraper-port-text">
              <h3>Corrosion & Chemical</h3>
              <p>#FOG #SALIN #CHEMICALS</p>
            </div>
          </div>
  
          <div class="wraper-top">
            <a href="https://lab-engineering.actia.tn/en/solutions-en/pcb-pcba-testing/">
            <div class="top-image left-bottom"></div>
            </a>
            <div class="wraper-port-text">
              <h3>PCB & PCBA</h3>
              <p>#TRACTION #COMPRESSION #INSPECTION X-RAY</p>
            </div>
          </div>
  
          <div class="wraper-top">
            <a href="https://lab-engineering.actia.tn/en/solutions-en/emc-electrical-testing//">
            <div class="top-image middle-bottom"></div>
            </a>
            <div class="wraper-port-text">
              <h3>CEM & Electronics</h3>
              <p>#CEM #CIVIL #AUTOMOBILE #ELECTRIC STRENGTH #INSULATION RESISTANCE</p>
            </div>
          </div>
  
          <div class="wraper-top">
            <a href="https://lab-engineering.actia.tn/en/solutions-en/testing-support/">
            <div class="top-image right-bottom"></div>
            </a>
            <div class="wraper-port-text">
              <h3>Support</h3>
              <p>#SUPPORT<br></p>
            </div>
          </div>

          <div class="wraper-top">
            <a href="https://lab-engineering.actia.tn/en/solutions-en/test-on-request/">
            <div class="top-image scnd-left-bottom"></div>
          </a>
            <div class="wraper-port-text">
              <h3>Tests on request</h3>
              <p>#PERSONALIZATION</p>
            </div>
          </div>
          
          <div class="wraper-top">
            <a href="https://lab-engineering.actia.tn/en/solutions-en/climate-and-thermal-testing/">
            <div class="top-image scnd-right-bottom"></div>
          </a>
            <div class="wraper-port-text">
              <h3>Air Conditioning & Heating</h3>
              <p>#TEMPERATURE #VARIATION #HUMIDITY #COMBINE</p>
            </div>
          </div>
        </div>
  
        <div class="wraper-about-us">
          <div class="wraper-about">
            <h2 class="head-name" id="about"> about us</h2>
            <p class="proin">ACTIA ES THROUGHOUT THE YEARS </p>
          </div>
  
          <div class="july">
            <a href="https://lab-engineering.actia.tn/en/actia-engineering-services-en/">
            <div class="about-left">
              <div class="text-about-us">
                <h3>From 2005 to 2009<br>Our Humble Beginning</h3>
                <p>ACTIA ES was created in 2005 with 5 employees and is one of the 4 entities of the ACTIA group in Tunisia. Untill 2009 we had less than 100 employees</p>
              </div>
              <div class="circle-img-july"></div>
            </div>
          </a>
          </div>
  
          <div class="january">
            <a href="https://lab-engineering.actia.tn/en/actia-engineering-services-en/">
              <div class="about-right">
                <div class="text-about-us">
                  <h3>From 2009 to 2012<br>Facing Startup Battles</h3>
                  <p>From 2009 to 2012, our company operated with a workforce of fewer than 200 dedicated individuals. 
                    Despite our modest size, we thrived on the strength of our team's passion, innovation, and unwavering commitment to excellence. Each member played a crucial role in propelling our company forward.
                  </p>
                </div>
                <div class="circle-img-january"></div>
              </div>
            </a>
          </div>
  
          <div class="december">
            <a href="https://lab-engineering.actia.tn/en/actia-engineering-services-en/">
            <div class="about-left">
              <div class="text-about-us">
                <h3>From 2013 to 2018<br>Embracing Growth</h3>
                <p>Between 2013 and 2018, our company experienced significant growth, 
                  leading to a pivotal transition in our physical location. As our employee count steadily increased (More than 400 employees), we recognized the need for expansion to accommodate our expanding team and operations</p>
              </div>
              <div class="circle-img-december"></div>
            </div>
          </a>
          </div>
  
          <div class="february">
            <a href="https://lab-engineering.actia.tn/en/actia-engineering-services-en/">
            <div class="about-right">
              <div class="text-about-us">
                <h3>January 2023 <br>NOW</h3>
                <p>
                  With our employee count surging beyond 750 and continuing to rise, we made the strategic decision to transition from leasing to owning our corporate headquarters.
                   This shift not only signifies our growth but also reflects our commitment to long-term sustainability and investment in our future.</p>
              </div>
              <div class="circle-img-february"></div>
            </div>
          </a>
          </div>
          <div class="circle-img-end">
            <p>our<br>story<br>continues<br>...</p>
          </div>
        </div>
      </div>
  
    
  <!-- end footer -->
<button (click)="downloadFile('pdf')">Download PDF</button>
<button (click)="downloadFile('csv')">Download CSV</button>
<iframe src="https://mohetn-my.sharepoint.com/:e:/r/personal/gassaramontasar_escs_u-sfax_tn/_layouts/15/Doc.aspx?sourcedoc=%7BE839593C-0BA2-4814-ACFD-D7E137DD309B%7D&file=Livre.xlsx&action=embedview" width="100%" height="600px" frameborder="0"></iframe>
