<div mat-dialog-title>
    <h1 class="dialog-title">Team Form</h1>
  </div>
  <form [formGroup]="TeamForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="dialog-content">
      <div class="form-row">
        <mat-form-field appearance="outline" class="custom-mat-form-field">
          <mat-label>Name</mat-label>
          <input matInput type="text" placeholder="Ex. Technical" formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline" class="custom-mat-form-field">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Ex. Babaji" formControlName="description"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" class="custom-mat-form-field">
          <mat-label>Technologie</mat-label>
          <textarea matInput placeholder="Ex. Babaji" formControlName="technologie"></textarea>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <input type="file" class="form-control"  id="inputState" (change)="onFileSelected($event)" accept="image/*">
        <img *ngIf="imageUrl" [src]="imageUrl" alt="Employee Image" class="circular-image">
    </div>
    </div>
    <div mat-dialog-actions class="dialog-actions">
      <button mat-button [mat-dialog-close]="false">Cancel</button>
      <button mat-raised-button color="primary" type="submit" class="btn-submit green-button" *ngIf="editMode">Modifier</button>
      <button mat-raised-button color="primary" type="submit" class="btn-submit green-button" *ngIf="!editMode">Enregistrer</button>
    </div>
  </form>
  